.master-pane {
    -fx-background-color: #2F343F;
}

.text-area {
    -fx-text-fill: #be2edd;
    -fx-font-size: 20;
    -fx-font-family: "Consolas";
    -fx-focus-color: transparent;
}


.menu .label {
    -fx-text-fill: #D1D6C5;
}

menu-bar:hover, .menu-item:hover{
    -fx-background-color: #404552;
}

.menu-bar {
    -fx-background-color: #6F1E51;
    -fx-font-size: 16;
    -fx-font-family: "Consolas";
}


.text-area .content {
    -fx-background-color: #0a3d62

}



* {
    -fx-my-menu-color: #0a3d62;
    -fx-my-menu-color-highlighted: #404552;
    -fx-my-menu-font-color: #D1D6C5;
    -fx-my-menu-font-color-highlighted: #D1D6C5;
}



.menu-bar > .container > .menu-button {
    -fx-background-color: -fx-my-menu-color;
}


.menu-bar > .container > .menu-button > .label {
    -fx-text-fill: -fx-my-menu-font-color;
}


.menu-bar > .container > .menu-button > .label:disabled {
    -fx-opacity: 1.0;
}


.menu-bar > .container > .menu-button:hover,
.menu-bar > .container > .menu-button:focused,
.menu-bar > .container > .menu-button:showing {
    -fx-background-color: -fx-my-menu-color-highlighted;
}


.menu-bar > .container > .menu-button:hover > .label,
.menu-bar > .container > .menu-button:focused > .label,
.menu-bar > .container > .menu-button:showing > .label {
    -fx-text-fill: -fx-my-menu-font-color-highlighted;
}


.menu-item {
    -fx-background-color: -fx-my-menu-color;
}


.menu-item .label {
    -fx-text-fill: -fx-my-menu-font-color;
}


.menu-item .label:disabled {
    -fx-opacity: 1.0;
}


.menu-item:focused {
    -fx-background-color: -fx-my-menu-color-highlighted;
}


.menu-item:focused .label{
    -fx-text-fill: -fx-my-menu-font-color-highlighted;
}


.context-menu {
    -fx-background-color: -fx-my-menu-color;
}

.menu-item .label{
    -fx-text-fill: hotpink;
}